# Logistic Regression Implementation Using Banking Dataset

### Link for the DataSet and Code ==> https://towardsdatascience.com/building-a-logistic-regression-in-python-step-by-step-becd4d56c9c8

In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
import matplotlib.pyplot as plt
plt.rc("font", size=14)
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
import seaborn as sns
sns.set(style="white")
sns.set(style="whitegrid", color_codes=True)

In [6]:
data=pd.read_csv('Data/banking.csv',header=0)

In [7]:
data.info

<bound method DataFrame.info of        age          job  marital            education  default housing loan  \
0       44  blue-collar  married             basic.4y  unknown     yes   no
1       53   technician  married              unknown       no      no   no
2       28   management   single    university.degree       no     yes   no
3       39     services  married          high.school       no      no   no
4       55      retired  married             basic.4y       no     yes   no
...    ...          ...      ...                  ...      ...     ...  ...
41183   59      retired  married          high.school  unknown      no  yes
41184   31    housemaid  married             basic.4y  unknown      no   no
41185   42       admin.   single    university.degree  unknown     yes  yes
41186   48   technician  married  professional.course       no      no  yes
41187   25      student   single          high.school       no      no   no

         contact month day_of_week  ...  campaign  pdays  previous  \
0       cellular   aug         thu  ...         1    999         0
1       cellular   nov         fri  ...         1    999         0
2       cellular   jun         thu  ...         3      6         2
3       cellular   apr         fri  ...         2    999         0
4       cellular   aug         fri  ...         1      3         1
...          ...   ...         ...  ...       ...    ...       ...
41183  telephone   jun         thu  ...         1    999         0
41184  telephone   may         thu  ...         2    999         0
41185  telephone   may         wed  ...         3    999         0
41186  telephone   oct         tue  ...         2    999         0
41187  telephone   may         fri  ...         4    999         0

          poutcome emp_var_rate  cons_price_idx  cons_conf_idx  euribor3m  \
0      nonexistent          1.4          93.444          -36.1      4.963
1      nonexistent         -0.1          93.200          -42.0      4.021
2          success         -1.7          94.055          -39.8      0.729
3      nonexistent         -1.8          93.075          -47.1      1.405
4          success         -2.9          92.201          -31.4      0.869
...            ...          ...             ...            ...        ...
41183  nonexistent          1.4          94.465          -41.8      4.866
41184  nonexistent          1.1          93.994          -36.4      4.860
41185  nonexistent          1.1          93.994          -36.4      4.857
41186  nonexistent         -3.4          92.431          -26.9      0.742
41187  nonexistent          1.1          93.994          -36.4      4.859

       nr_employed  y
0           5228.1  0
1           5195.8  0
2           4991.6  1
3           5099.1  0
4           5076.2  1
...            ... ..
41183       5228.1  0
41184       5191.0  0
41185       5191.0  0
41186       5017.5  0
41187       5191.0  0

[41188 rows x 21 columns]>

In [8]:
data.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,y
0,44,blue-collar,married,basic.4y,unknown,yes,no,cellular,aug,thu,...,1,999,0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,0
1,53,technician,married,unknown,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-0.1,93.200,-42.0,4.021,5195.8,0
2,28,management,single,university.degree,no,yes,no,cellular,jun,thu,...,3,6,2,success,-1.7,94.055,-39.8,0.729,4991.6,1
3,39,services,married,high.school,no,no,no,cellular,apr,fri,...,2,999,0,nonexistent,-1.8,93.075,-47.1,1.405,5099.1,0
4,55,retired,married,basic.4y,no,yes,no,cellular,aug,fri,...,1,3,1,success,-2.9,92.201,-31.4,0.869,5076.2,1

In [9]:
# Grouping the basic.4,6,9y as Basic
data['education']=np.where(data['education'] =='basic.9y', 'Basic', data['education'])
data['education']=np.where(data['education'] =='basic.6y', 'Basic', data['education'])
data['education']=np.where(data['education'] =='basic.4y', 'Basic', data['education'])

In [10]:
data.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,y
0,44,blue-collar,married,Basic,unknown,yes,no,cellular,aug,thu,...,1,999,0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,0
1,53,technician,married,unknown,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-0.1,93.200,-42.0,4.021,5195.8,0
2,28,management,single,university.degree,no,yes,no,cellular,jun,thu,...,3,6,2,success,-1.7,94.055,-39.8,0.729,4991.6,1
3,39,services,married,high.school,no,no,no,cellular,apr,fri,...,2,999,0,nonexistent,-1.8,93.075,-47.1,1.405,5099.1,0
4,55,retired,married,Basic,no,yes,no,cellular,aug,fri,...,1,3,1,success,-2.9,92.201,-31.4,0.869,5076.2,1

In [11]:
data['education'].unique()

array(['Basic', 'unknown', 'university.degree', 'high.school',
       'professional.course', 'illiterate'], dtype=object)